.layout {
    display: grid;
    grid-template-areas:
      "swiper"
      "navigation"
      "content";
    grid-template-rows: 100px 66px 1fr;
    // Thanks to https://medium.com/developer-rants/what-if-height-100vh-is-bigger-than-your-screen-7f39c62ac170
    width: 100%;
    overflow: clip;
  }
  
.content {
  grid-area: content;
  overflow-y: auto; /* Allows scrolling if the content overflows */
  background-color: #eee; /* Optional: set a background color */
}

.main {
  padding: 50px 200px;
}

@font-face {
  font-family: "Glory of Justice";
  src: url("../fonts/Glory\ of\ Justice.otf") 
}

@font-face {
  font-family: "Blockletter";
  src: url("../fonts/Blockletter.otf") 
}