.layout {
    display: grid;
    grid-template-areas:
      "swiper"
      "navigation"
      "content";
    grid-template-rows: 95px 66px 1fr;
    width: 100%;
    overflow: clip;
    min-height: 100dvh;
  }
  
.content {
  grid-area: content;
  overflow-y: auto; /* Allows scrolling if the content overflows */
  background-color: #eee; /* Optional: set a background color */
}

.main {
  @media only screen and (max-width: 1023px) {
    padding: 50px 20px;
  }

  @media only screen and (min-width: 1024px) {
    padding: 50px 20%;
  }
}

a {
  color: #0050bf;
}

@font-face {
  font-family: "Glory of Justice";
  src: url("../fonts/Glory\ of\ Justice.otf") 
}

@font-face {
  font-family: "Blockletter";
  src: url("../fonts/Blockletter.otf") 
}