.home-title-banner {
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 750px; /* Fixed height for the banner */
    min-height: 400px;
    max-height: calc(100vh - 161px);

    background: linear-gradient(#0005, #0005), url(../../img/justinsplash_up.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top; /* Keep the bottom of the image fixed */
    transform-origin: bottom; /* Anchor scaling to the bottom */
}

.home-title-content {
    position: relative;
    font-family: "Blockletter";
    width: 100%;
    text-align: center;
    color: $cal-gold-color;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 1;
}

.home-title-logo {
    animation: fade-in 1s ease-out, grow-shrink 0.8s;
    margin-bottom: 30px;

    > img {
        height: 160px;
        margin-bottom: 10px;
        filter: drop-shadow(2px 2px 4px black);
    }
    > h1 {
        font-family: "Blockletter";
        font-size: 2rem;
        transform: scaleY(1.1);
        text-shadow: 2px 2px 4px black;
        margin-top: 2px;
    }
}

.icon-container {
    position: absolute;
    top: 0px;
    left: 20px;
    width: 100%;
    height: 100%; /* Occupies the full height of the parent */
    display: flex;
    justify-content: center;
    align-items: center; /* Ensures it sits on top of the other content */
}

.home-section {
    display: flex;
    height: 600px;

    @media (max-width: 767px) {
        height: calc(100dvh - 66px);
    }
}

.home-section-text-wrapper {
    max-width: 900px;
}

.home-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 50px;

    @media (max-width: 767px) {
        background-color: #0008;
        color: #fff;
        z-index: 10;
    }
}

.home-image-container {
    background-color: aqua;
    width: 600px;
    max-width: 50dvw;
    flex-shrink: 0;

    @media (max-width: 767px) {
        position: absolute;
        height: calc(100%);
        max-width: 100dvw;
        width: 100%;
    }
}

.home-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.home-cta {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 600px;
    z-index: 20;
    padding: 50px;
    
    color: #fff;
    background-image: linear-gradient(#0005, #0005), url("../../img/teamsplash1-yellow.jpg");
    background-position: 50% 50%;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@keyframes fade-in-transparent {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 0.7;
    }
    100% {
        opacity: 0.6;
    }
}

@keyframes grow-shrink {
    0% {
        transform: scale(0);
    }
    70% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}