.team-member-card {
    height: 300px;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 20px 0px;

    @media (max-width: 767px) {
        height: auto;
        align-items: center;
        margin: 5px 0px;
    }
}

.team-member-img {
    object-fit: cover;
    object-position: 50% 0;
    height: 100%;
    width: 200px;
    border-radius: var(--bs-card-inner-border-radius) 0px 0px var(--bs-card-inner-border-radius);

    @media (max-width: 767px) {
        width: 75px;
        height: 110px;
        border-radius: 1rem;
        margin: 1rem;
        margin-right: 0.5rem;
    }
}

.team-member-details {
    display: flex;
    flex-direction: column;
}

.team-member-top {
    display: flex;
    flex-direction: row;

    @media (max-width: 767px) {
        flex-direction: column;
    }
}

.team-member-ul {
    display: flex;
    flex-direction: column;
}

.team-member-primary {
    margin-bottom: auto;
    margin-top: 0px;
}

.team-member-personal {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.team-member-personal-entry {
    margin-bottom: 0px;
    gap: 2px;
    color: gray;
}

.team-member-personal-text {
    margin-left: 2px;
}

.team-member-year {
    margin-left: auto;
    margin-bottom: 0px;
    
    @media (max-width: 767px) {
        margin-left: 0;
    }
}

.team-member-primary-top {
    margin-bottom: 2px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

.roster-number {
    display: inline-flex;
    vertical-align: top;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding-bottom: 2px;
    margin-right: 8px;
    text-align: center;
    background-color: #041e42;
    color: $cal-gold-color;

    @media (max-width: 767px) {
        width: 30px;
        height: 30px;
        font-size: 1.125rem;
        padding-bottom: 0px;
    }
}

.player-name {
    vertical-align: top;
}

.search-result-count {
    margin-top: -5px;
    margin-bottom: 0px;
}