.team-member-card {
    height: 300px;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 20px 0px;
}

.team-member-img {
    height: 100%;
    width: auto;
    border-radius: var(--bs-card-inner-border-radius) 0px 0px var(--bs-card-inner-border-radius);
}

.team-member-details {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.team-member-positions {
    display: block;
}

.team-member-name {
    display: block;
}

.team-member-year {
    font-weight: bold;
    margin-top: auto;
    margin-bottom: 0;
}