.navbar {
    grid-area: navigation;
    position: sticky;
    top: 0;
    background-color: #041e42 !important;
    height: 66px;
    z-index: 1000;
}

.container-fluid {
    text-transform: uppercase;
    max-height: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.cal-logo {
    height: 43px;
    margin: 0 10px;
}

.me-auto {
    margin-left: 10px;
}

.nav-link {
    color: #fff !important;
    font-family: "Blockletter";
    transform: scaleY(1.1);
    font-size: 1.7rem;
    padding-left: 14px !important;
    padding-right: 14px !important;
}

.nav-link:hover {
    color: $cal-gold-color !important;
    text-shadow: 2px 4px 4px black;
}