.navbar {
    grid-area: navigation;
    position: sticky;
    top: 0;
    background-color: #041e42 !important;
    height: 66px;
    z-index: 1000;
}

.container-fluid {
    text-transform: uppercase;
    max-height: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.cal-logo {
    height: 43px;
    margin: 0 10px;
}

.me-auto > .nav-item {
    margin-left: 12px;
}

.nav-link {
    color: #fff !important;
    font-family: "Blockletter";
    transform: scaleY(1.3);
    font-size: 1.4rem;
}

.nav-link:hover {
    color: $cal-gold-color !important;
}