.navbar {
    grid-area: navigation;
    position: sticky;
    top: 0;
    background-color: #041e42 !important;
    height: 66px;
    z-index: 1000;
}

.container-fluid {
    text-transform: uppercase;
    max-height: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.cal-logo {
    height: 43px;
    margin: 0 10px;
}

.me-auto {
    margin-left: 10px;
}

.nav-link {
    flex-grow: 1;
    color: #fff !important;
    background-color: #041e42;
    font-family: "Blockletter";
    transform: scaleY(1.1);
    font-size: 1.7rem;
    padding-left: 14px !important;
    padding-right: 14px !important;
}

.nav-link:hover {
    color: $cal-gold-color !important;
    text-shadow: 2px 2px 4px black;
}

.navbar-dropdown:hover .navbar-dropdown-menu {
    display: block;
    margin-top: 0; /* Optional: Adjust this to avoid any spacing issues */
  }

.navbar-dropdown-menu {
    font-family: "Blockletter";
    transform: scaleY(1.1);
    font-size: 1.7rem;
    width: 230px;
    margin: 0;
    border-radius: 0;
    background-color: #041e42;
}

.navbar-dropdown-item {
    padding: 8px 14px;
    color: #fff !important;
    display: flex;

    &:hover {
        background-color: #041e42 !important;
        color: $cal-gold-color !important;
    }
}