.swiper {
    grid-area: swiper;
    width: 100%; /* Ensure it doesn’t exceed the layout’s width */
}

.swiper-slide {
    width: 320px;
    border-left: 1px lightgray solid;
}

.swiper-slide:last-of-type {
    border-right: 1px lightgray solid;
}

.varsity-slide {
    display: flex;
    flex-direction: row;
    padding: 10px 5px 5px 10px;
    height: 100%;
    box-sizing: border-box;
}

.varsity-slide-teams {
    justify-content: flex-end;
    margin-top: auto;
    font-weight: bold;

    .team-container:last-of-type {
        margin-bottom: 7px;
    }
}

.varsity-slide-date {
    justify-content: flex-end;
    margin-left: auto;
    font-size: 0.75rem;
    color: gray;
}

.team-container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.team-logo {
    height: 20px;
    width: 25px;
    object-fit: cover;
    margin-right: 10px;
}

.team-name {
    font-size: 0.75rem;
    text-transform: capitalize;
}