.card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.card-header {
    background-color: #041e42;
    color: #fff;
}

.card-title {
    font-family: 'Blockletter';
    font-weight: normal;
}