.header-banner-content {    
    font-family: "Blockletter";
    color: $cal-gold-color;
    box-sizing: border-box;
    z-index: 1;
    margin-bottom: 0;
}

.header-container {
    width: 100%;
    background-size: cover !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(10dvw);
    min-height: 80px;
    max-height: 120px;
    position: relative;
}

.new-players-header-container {
    background: linear-gradient(#0009, #0009), url(../../img/teamsplash2.jpg);
    background-position: 50% 28%;
}

.donations-header-container {
    background: linear-gradient(#0009, #0009), url(../../img/teamsplash1.jpg);
    background-position: 50% 45%;
}

.current-players-header-container {
    background: linear-gradient(#0009, #0009), url(../../img/justinsplash2.jpg);
    background-position: 50% 60%;
}

.roster-header-container {
    background: linear-gradient(#0009, #0009), url(../../img/teamsplash3.jpg);
    background-position: 50% 40%;
}