.team-member-search-dropdown-container {
    display: flex;
}

.team-member-search-dropdown {
    flex-grow: 1;
}

.team-member-search-dropdown-button {
    width: 100%;
}

.search-card {
    background-color: #041e42;
    color: #fff;
    padding: 15px 30px;
    border-radius: 0.375rem 0.375rem 0 0;
}

.search-title {
    font-family: 'Blockletter';
    margin-top: 0.75rem;
    margin-bottom: 0.25rem;
}

.staff-card {
    background-color: #041e42;
    color: #fff;
    padding: 10px 30px;
    margin-top: 40px;
    border-radius: 0.375rem 0.375rem 0 0;

    @media (max-width: 767px) {
        margin-top: 25px;
    }
}

.staff-title {
    font-family: 'Blockletter';
    margin: 0.5rem 0;
}