$vb-speed-mult: 2.5;
$vb-size: 60px;
$vb-dist-mult-overall: 1.25;
$vb-start-delay: 0s;
$vb-fade-duration: 0.8s;

$vb1-speed: 1.2s;
$vb2-speed: 1s;
$vb3-speed: 0.85s;
$vb4-speed: 1.3s;
$vb5-speed: 1.1s;
$vb6-speed: 0.85s;
$vb7-speed: 0.9s;
$vb8-speed: 1.1s;

$vb1-dist-mult: 0.9;
$vb2-dist-mult: 1.15;
$vb3-dist-mult: 1.05;
$vb4-dist-mult: 1.1;
$vb5-dist-mult: 1;
$vb6-dist-mult: 1.05;
$vb7-dist-mult: 0.9;
$vb8-dist-mult: 1.1;

$vb1-size-mult: 0.75;
$vb2-size-mult: 0.875;
$vb3-size-mult: 1.125;
$vb4-size-mult: 1.25;
$vb5-size-mult: 0.92;
$vb6-size-mult: 1;
$vb7-size-mult: 1.1;
$vb8-size-mult: 0.9;

.fa-volleyball {
    z-index: 99999;
    opacity: 0%;
    position: absolute;
    font-size: 40px; /* Adjust the size of the icons as needed */
    filter: drop-shadow(2px 2px 4px black);
    transform-origin: center center;
}

.fa-volleyball:nth-child(1) {
    --x: #{175px * $vb1-dist-mult * $vb-dist-mult-overall};
    --y: 0;
    font-size: #{$vb-size * $vb1-size-mult};
    //color: #f00;
    animation: 
        fade-in-transparent $vb-fade-duration ease-out $vb-start-delay forwards,
        fly-out-rotate calc($vb1-speed * 1.5 / $vb-speed-mult) linear $vb-start-delay forwards,
        continuous-rotate calc($vb1-speed * 6 / $vb-speed-mult) linear calc($vb1-speed * 1.5 / $vb-speed-mult + $vb-start-delay) infinite;
    transform-origin: calc(-175px * $vb1-dist-mult * $vb-dist-mult-overall + $vb-size / 2 * $vb1-size-mult) calc(20px * $vb1-size-mult);
}

.fa-volleyball:nth-child(2) {
    --x: #{124px * $vb2-dist-mult * $vb-dist-mult-overall};
    --y: #{124px * $vb2-dist-mult * $vb-dist-mult-overall};
    font-size: $vb-size * $vb2-size-mult;
    //color: #f90;
    animation:
        fade-in-transparent $vb-fade-duration ease-out $vb-start-delay forwards,
        fly-out-rotate calc($vb2-speed * 1.5 / $vb-speed-mult) linear $vb-start-delay forwards,
        continuous-rotate calc($vb2-speed * 6 / $vb-speed-mult) linear calc($vb2-speed * 1.5 / $vb-speed-mult + $vb-start-delay) infinite;
    transform-origin: calc(-124px * $vb2-dist-mult * $vb-dist-mult-overall + $vb-size / 2 * $vb2-size-mult) calc(-124px * $vb2-dist-mult * $vb-dist-mult-overall + 20px * $vb2-size-mult);
}

.fa-volleyball:nth-child(3) {
    --x: #{0 * $vb3-dist-mult * $vb-dist-mult-overall};
    --y: #{175px * $vb3-dist-mult * $vb-dist-mult-overall};
    font-size: $vb-size * $vb3-size-mult;
    //color: #ff0;
    animation:
        fade-in-transparent $vb-fade-duration ease-out $vb-start-delay forwards,
        fly-out-rotate calc($vb3-speed * 1.5 / $vb-speed-mult) linear $vb-start-delay forwards,
        continuous-rotate calc($vb3-speed * 6 / $vb-speed-mult) linear calc($vb3-speed * 1.5 / $vb-speed-mult + $vb-start-delay) infinite;
    transform-origin: calc(30px * $vb3-size-mult) calc(-175px * $vb3-dist-mult * $vb-dist-mult-overall + $vb-size / 2 * $vb3-size-mult);
}

.fa-volleyball:nth-child(4) {
    --x: #{-124px * $vb4-dist-mult * $vb-dist-mult-overall};
    --y: 124px;
    font-size: $vb-size * $vb4-size-mult;
    //color: #0f0;
    animation:
        fade-in-transparent $vb-fade-duration ease-out $vb-start-delay forwards,
        fly-out-rotate calc($vb4-speed * 1.5 / $vb-speed-mult) linear $vb-start-delay forwards,
        continuous-rotate calc($vb4-speed * 6 / $vb-speed-mult) linear calc($vb4-speed * 1.5 / $vb-speed-mult + $vb-start-delay) infinite;
    transform-origin: calc(124px * $vb4-dist-mult * $vb-dist-mult-overall + $vb-size / 2 * $vb4-size-mult) calc(-124px * $vb4-dist-mult * $vb-dist-mult-overall + $vb-size / 2 * $vb4-size-mult);
}

.fa-volleyball:nth-child(5) {
    --x: #{-175px * $vb5-dist-mult * $vb-dist-mult-overall};
    --y: #{0 * $vb5-dist-mult * $vb-dist-mult-overall};
    font-size: $vb-size * $vb5-size-mult;
    //color: #00f;
    animation:
        fade-in-transparent $vb-fade-duration ease-out $vb-start-delay forwards,
        fly-out-rotate calc($vb5-speed * 1.5 / $vb-speed-mult) linear $vb-start-delay forwards,
        continuous-rotate calc($vb5-speed * 6 / $vb-speed-mult) linear calc($vb5-speed * 1.5 / $vb-speed-mult + $vb-start-delay) infinite;
    transform-origin: calc(175px * $vb1-dist-mult * $vb-dist-mult-overall + $vb-size / 2 * $vb1-size-mult) calc(20px * $vb1-size-mult);
}


.fa-volleyball:nth-child(6) {
    --x: #{-124px * $vb6-dist-mult * $vb-dist-mult-overall};
    --y: #{-124px * $vb6-dist-mult * $vb-dist-mult-overall};
    font-size: $vb-size * $vb6-size-mult;
    //color: #f0f;
    animation:
        fade-in-transparent $vb-fade-duration ease-out $vb-start-delay forwards,
        fly-out-rotate calc($vb6-speed * 1.5 / $vb-speed-mult) linear $vb-start-delay forwards,
        continuous-rotate calc($vb6-speed * 6 / $vb-speed-mult) linear calc($vb6-speed * 1.5 / $vb-speed-mult + $vb-start-delay) infinite;
        transform-origin: calc(124px * $vb2-dist-mult * $vb-dist-mult-overall + $vb-size / 2 * $vb2-size-mult) calc(124px * $vb2-dist-mult * $vb-dist-mult-overall + 20px * $vb2-size-mult);
}

.fa-volleyball:nth-child(7) {
    --x: 0;
    --y: #{-175px * $vb7-dist-mult * $vb-dist-mult-overall};
    font-size: #{$vb-size * $vb7-size-mult};
    //color: #f00;
    animation: 
        fade-in-transparent $vb-fade-duration ease-out $vb-start-delay forwards,
        fly-out-rotate calc($vb7-speed * 1.5 / $vb-speed-mult) linear $vb-start-delay forwards,
        continuous-rotate calc($vb7-speed * 6 / $vb-speed-mult) linear calc($vb7-speed * 1.5 / $vb-speed-mult + $vb-start-delay) infinite;
    transform-origin: calc(20px * $vb7-size-mult) calc(175px * $vb7-dist-mult * $vb-dist-mult-overall + $vb-size / 2 * $vb7-size-mult);
}

.fa-volleyball:nth-child(8) {
    --x: 124px;
    --y: #{-124px * $vb8-dist-mult * $vb-dist-mult-overall};
    font-size: $vb-size * $vb8-size-mult;
    //color: #0f0;
    animation:
        fade-in-transparent $vb-fade-duration ease-out $vb-start-delay forwards,
        fly-out-rotate calc($vb8-speed * 1.5 / $vb-speed-mult) linear $vb-start-delay forwards,
        continuous-rotate calc($vb8-speed * 6 / $vb-speed-mult) linear calc($vb8-speed * 1.5 / $vb-speed-mult + $vb-start-delay) infinite;
        transform-origin: calc(-124px * $vb2-dist-mult * $vb-dist-mult-overall + $vb-size / 2 * $vb2-size-mult) calc(124px * $vb2-dist-mult * $vb-dist-mult-overall + 20px * $vb2-size-mult);
}

@keyframes fly-out-rotate {
    0% {
        transform: translate(center, center) scale(0) rotate(0deg);
    }
    100% {
        transform: translate(var(--x), var(--y)) scale(1) rotate(135deg);
    }
}

@keyframes continuous-rotate {
    0% {
        transform: translate(var(--x), var(--y)) rotate(135deg);
    }
    100% {
        transform: translate(var(--x), var(--y)) rotate(495deg);
    }
}